/* Reset body margin/padding */
:host {
    display: block;
}

/* Main App Container */
.app-container {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

/* Full height layout */
main-collection-hierarchy {
    display: block;
    height: 100vh;
}
